.banner{
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner-titulo{
    animation: aparecer 2s ease;
    margin: 0;
}

@keyframes aparecer{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-boton{
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.banner-boton:hover{
    background-color: lightblue;
    transform: scale(1.1);

}

.banner-icono{
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: girar 2s infinite linear;
}

@keyframes girar {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}